@model IEnumerable<Esmeraldaplus.Core.Domain.Inventario>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/plantilla - admin.cshtml";
}

<link href="~/css/list_product.css" rel="stylesheet" />

<main>
    <div class="menu-admin">
        <a asp-area="" asp-controller="homeadmin" asp-action="Index"><span class="icon-home icon1"></span><br><p>Inicio</p></a>
        <a asp-area="" asp-controller="usuarios" asp-action="Index"><span class="icon-user icon2"></span><br><p>Lista de Usuarios</p></a>
        <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><span class="icon-user-check icon3"><br><p>Config. Cuenta</p></span></a>
        <a asp-area="" asp-controller="producto" asp-action="Index"><span class="icon-inventory icon4"><br><p>Productos</p></span></a>
        <a asp-area="" asp-controller="inventario" asp-action="Index"><span class="icon-inventory icon5"><br><p>Inventario</p></span></a>
    </div>
</main>

<p class="create">
    <a asp-action="Create" class="add">Crear</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Fecha Ingreso
            </th>
            @*<th>
                Id Orden Compra
            </th>
            <th>
                Id Orden Venta
            </th>
            <th>
                Id Pedido
            </th>*@
            <th>
                Id Producto
            </th>
            <th>
                Id Usuario
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdInventario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaIngreso)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.IdOrdenCompraNavigation.IdOrdenCompra    )
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.IdOrdenVentaNavigation.IdOrdenVenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPedidoNavigation.IdPedido)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.IdProductoNavigation.IdTipoProductoNavigation.NombreProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuarioNavigation.IdUsuario)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdInventario" class="actualizar">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdInventario" class="detalles">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdInventario" class="borrar">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
